<table class="min-w-full divide-y divide-gray-200 bg-[#d9d9d9] rounded-xl">
    <thead>
      <tr>
        <th class="px-6 py-3 [#d9d9d9] text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Código</th>
        <th class="px-6 py-3 [#d9d9d9] text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
        <th class="px-6 py-3 [#d9d9d9] text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad</th>
        <th class="px-6 py-3 [#d9d9d9] text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Precio por unidad</th>
      </tr>
    </thead>
    <tbody class="bg-[#d9d9d9] divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">KLFG</td>
        <td class="px-6 py-4 whitespace-nowrap">Azúcar libra</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">25</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">2.200</td>
      </tr>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">KLFG</td>
        <td class="px-6 py-4 whitespace-nowrap">Azúcar libra</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">25</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">2.200</td>
      </tr>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">KLFG</td>
        <td class="px-6 py-4 whitespace-nowrap">Azúcar libra</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">25</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">2.200</td>
      </tr>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">KLFG</td>
        <td class="px-6 py-4 whitespace-nowrap">Azúcar libra</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">25</td>
        <td class="px-6 py-4 whitespace-nowrap text-right">2.200</td>
      </tr>
      </tbody>
  </table>
 