<div class="container mx-auto p-4 bg-[#d9d9d9]">
    <form>
      <div class="mb-4 flex items-start justify-start flex-row">
        <div class="w-1/2">
            <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre del producto:</label>
            <input type="text" value="Aceite (250 ml)" id="nombre" class="shadow w-1/2 appearance-none  border border-black bg-[#d9d9d9] rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="w-1/2">
            <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Codigo del producto:</label>
            <input type="text" value="IKWL" id="nombre" class="shadow w-1/2 appearance-none  border border-black bg-[#d9d9d9] rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="mb-4">
        <label for="cantidad" class="block text-gray-700 text-sm font-bold mb-2">Cantidad:</label>
        <input type="number" [value]="15" id="cantidad" class="shadow appearance-none  border border-black bg-[#d9d9d9] rounded w-auto py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="3">
      </div>
      <div class="mb-4">
        <label for="precio" class="block text-gray-700 text-sm font-bold mb-2">Precio del producto:</label>
        <input type="number" value="10.000" id="precio" class="shadow appearance-none  border border-black bg-[#d9d9d9] rounded w-[30%] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ingrese el precio">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-[#212999] hover:bg-blue-700 text-white font-bold  py-2 px-4 w-36 rounded-full focus:outline-none focus:shadow-outline" type="submit">
          Actualizar
        </button>
        <button [routerLink]="['/Yminimarket/productos']" class="bg-[#992123] hover:bg-red-700 text-white font-bold  py-2 px-4 w-36 rounded-full focus:outline-none focus:shadow-outline" type="button">
          Cancelar
        </button>
      </div>
    </form>
  </div>